snippet merge "Git merge commit message"
[${1:Feature}] ${2:summary}

fixes #${3:ticket}

${4:description of merge commit}
endsnippet

snippet m "Short Commit Message"
${1:component}: ${2:summary}

${3:further description}
endsnippet
